:root {
  --color-red:#ff7473;
  --color-yellow:#ffc952;
  --color-blue: #47b8e0;
  --color-black: #34314c;
  --color-Grey-light-1: #faf9f9; }

* {
  margin: 0;
  padding: 0; }

*::before,
*::after,
* {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 80em) {
    html {
      font-size: 58%; } }
  @media only screen and (max-width: 43em) {
    html {
      font-size: 65%; } }
  @media only screen and (max-width: 28.75em) {
    html {
      font-size: 35%; } }

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-Grey-dark-1);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  background-image: linear-gradient(145deg, rgba(255, 116, 115, 0.9) 0%, rgba(255, 116, 115, 0.9) 50%, transparent 50%), url(../img/net.jpeg);
  background-size: 100%;
  border-radius: 3px; }
  @media only screen and (max-width: 80em) {
    body {
      background-color: var(--color-yellow); } }
  @media only screen and (max-width: 62em) {
    body {
      background-image: linear-gradient(to right, var(--color-red), var(--color-yellow)); } }

#line {
  box-sizing: border-box;
  position: absolute;
  right: 0;
  height: 100%;
  padding: 3vh 3vh 3vh 5vw;
  overflow: visible; }
  #line symbol {
    overflow: visible; }
    #line symbol path {
      d: path(var(--path));
      transition: d 0.4s cubic-bezier(0, 0.15, 0.31, 1.4);
      will-change: d;
      fill: none;
      stroke-width: var(--stroke, 3px);
      stroke-linecap: round;
      stroke-linejoin: round; }
  #line use:nth-of-type(1) {
    stroke: url("#gradient"); }
  #line use:nth-of-type(2) {
    stroke: rgba(0, 0, 0, 0.5);
    animation: an 3s alternate infinite backwards cubic-bezier(0.445, 0.05, 0.55, 0.95); }

@keyframes an {
  0% {
    stroke-dasharray: 0 var(--lenght); }
  100% {
    stroke-dasharray: var(--lenght) var(--lenght); } }

.container {
  margin: 5rem auto;
  max-width: 90rem;
  background-color: var(--color-Grey-light-1);
  box-shadow: 0 2 rem 6rem rgba(0, 0, 0, 0.3);
  min-height: 50rem;
  border-radius: 2rem;
  padding: 5rem 0;
  position: relative; }
  @media only screen and (max-width: 43em) {
    .container {
      border-radius: 5px;
      max-width: 100%;
      margin: 0 auto;
      padding: 0; } }

@media only screen and (max-width: 55em) {
  #line {
    display: none; } }

.heading {
  font-size: 4rem;
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 4rem;
  color: var(--color-black);
  text-transform: uppercase;
  font-family: 'Luckiest Guy', cursive;
  letter-spacing: .6rem;
  writing-mode: vertical-lr;
  text-orientation: upright;
  position: absolute;
  top: 5%; }
  @media only screen and (max-width: 62em) {
    .heading {
      position: unset;
      writing-mode: unset; } }

.box {
  width: 64rem;
  margin: 0 auto; }
  @media only screen and (max-width: 43em) {
    .box {
      width: 100%; } }
  .box > div {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
    @media only screen and (max-width: 28.75em) {
      .box > div {
        justify-content: center; } }

.counter-box {
  text-align: center;
  margin: 20px;
  padding-bottom: 2.5rem;
  color: var(--color-black);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  text-transform: uppercase;
  font-family: 'Righteous', cursive;
  letter-spacing: .2rem; }

.moves-box {
  background-color: #34ADFF;
  background-image: -webkit-linear-gradient(120deg, #34ADFF 35%, #4CBFFF 35%);
  padding: 1.5rem 3rem;
  border-radius: 4px; }
  @media only screen and (max-width: 55em) {
    .moves-box {
      padding: .8rem 1.6rem; } }

.count {
  background-color: var(--color-yellow);
  height: 3.2rem;
  width: 3.2rem;
  border-radius: 50%;
  display: inline-block;
  margin-left: 1rem; }

.button {
  background: var(--color-blue);
  color: var(--color-black);
  margin: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer; }

.card {
  height: 10rem;
  flex: 0 0 10rem;
  margin: 5px;
  padding: 5px;
  border: 4px solid var(--color-blue);
  border-radius: 10px;
  cursor: pointer;
  background: var(--color-blue);
  transition: all .3s; }
  .card:hover {
    border: 4px solid var(--color-red); }

.images img {
  display: none;
  width: 100%;
  height: auto; }

footer p {
  font-size: .7rem;
  font-family: inherit;
  text-align: center; }

.list {
  display: flex;
  justify-content: center; }

.item {
  list-style: none;
  margin: 1rem; }

.icon {
  height: 2.5rem;
  width: 2.5rem;
  fill: var(--color-black);
  transform: all .4s; }
  .icon:hover {
    fill: var(--color-blue); }
